/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 300   // mousescroll SPEED

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <3000>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <1000>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off {
    hold-time-ms = <3000>; // Only turn off it the key is held for 3 seconds or longer.
};

&mt {
    tapping-term-ms = <300>;
    flavor = "tap-preferred";
};

&lt { tapping-term-ms = <300>; };

&sk {
    quick-release;
    lazy;
};

/ {
    behaviors {
        laughing: laughing {
            compatible = "zmk,behavior-tap-dance";
            label = "LAUGHING";
            #binding-cells = <0>;
            bindings = <&hihi>, <&haha>;
        };

        https_http: https_http {
            compatible = "zmk,behavior-tap-dance";
            label = "HTTPS_HTTP";
            #binding-cells = <0>;
            bindings = <&https>, <&http>;
        };

        haizzz_huhu: haizzz_huhu {
            compatible = "zmk,behavior-tap-dance";
            label = "HAIZZZ_HUHU";
            #binding-cells = <0>;
            bindings = <&haizzzz>, <&huhu>;
        };

        layer3_ctrlV: layer3_ctrlV {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER3_CTRLV";
            #binding-cells = <0>;
            bindings = <&mo 3>, <&kp LC(V)>;
        };

        layer4_ctrlShift: layer4_ctrlShift {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER4_CTRLSHIFT";
            #binding-cells = <0>;
            bindings = <&mo 4>, <&kp LC(LEFT_SHIFT)>;
        };

        alt_ctrlC: alt_ctrlC {
            compatible = "zmk,behavior-tap-dance";
            label = "ALT_CTRLC";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT>, <&kp LC(C)>;
        };

        stk_Shift_mo2: stk_Shift_mo2 {
            compatible = "zmk,behavior-hold-tap";
            label = "STK_SHIFT_MO2";
            bindings = <&mo>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <1>;
            flavor = "balanced";
        };
    };

    combos {
        compatible = "zmk,combos";

        leftParenthesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <20 19>;
            layers = <0 1 2>;
        };

        rightParenthesis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <20 21>;
            layers = <0 1 2>;
        };

        leftBracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <31 32>;
            layers = <0 1 2>;
        };

        rightBracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <32 33>;
            layers = <0 1 2>;
        };

        leftBrace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <43 44>;
            layers = <0 1 2>;
        };

        rightBrace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <44 45>;
            layers = <0 1 2>;
        };

        doubleQuotes {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <19 21>;
            layers = <0 1 2>;
        };

        lessThan {
            bindings = <&kp LESS_THAN>;
            key-positions = <31 33>;
            layers = <0 1 2>;
        };

        greaterThan {
            bindings = <&kp GREATER_THAN>;
            key-positions = <43 45>;
            layers = <0 1 2>;
        };

        colon {
            bindings = <&kp COLON>;
            key-positions = <33 34>;
            layers = <0 1 2>;
        };

        backSpace {
            bindings = <&kp BACKSPACE>;
            key-positions = <37 38>;
            layers = <0 1 2>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <38 39>;
            layers = <0 1 2>;
        };

        shift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <39 40>;
            layers = <0>;
        };

        return {
            bindings = <&kp RET>;
            key-positions = <28 41>;
            layers = <0 1 2>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <28 27>;
            layers = <0 1 2>;
        };

        capsLock {
            bindings = <&kp CAPSLOCK>;
            key-positions = <18 19>;
            layers = <0 1 2>;
        };

        capsWords {
            bindings = <&caps_word>;
            key-positions = <30 31>;
            layers = <0 1 2>;
        };

        stickyShift {
            bindings = <&sk LEFT_SHIFT>;
            key-positions = <31 34>;
        };
    };

    macros {
        hihi: laughing {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp COLON &kp RPAR &kp RPAR &kp RPAR>;
            label = "LAUGHING";
        };

        haha: haha {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp EQUAL &kp RPAR &kp RPAR &kp RPAR &kp RPAR &kp RPAR &kp RPAR &kp RPAR &kp RPAR>;
            label = "HAHA";
        };

        yankinVim: yankinVim {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp DQT &kp PLUS &kp Y>;
            label = "YANKINVIM";
        };

        https: https {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp H &kp T &kp T &kp P &kp S &kp COLON &kp FSLH &kp FSLH>;
            label = "HTTPS";
        };

        http: http {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp H &kp T &kp T &kp P &kp COLON &kp FSLH &kp FSLH>;
            label = "HTTP";
        };

        rightarrow: rightarrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp MINUS &kp GT>;
            label = "RIGHTARROW";
        };

        haizzzz: haizzzz {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp EQUAL &kp DOT &kp EQUAL>;
            label = "HAIZZZZ";
        };

        huhu: huhu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp COLON &kp LPAR &kp LPAR &kp LPAR &kp LPAR>;
            label = "HUHU";
        };

        leftarrow: leftarrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LT &kp MINUS>;
            label = "LEFTARROW";
        };

        not_equal: not_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp EXCL &kp EQUAL>;
            label = "NOT_EQUAL";
        };

        left_arrow: left_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LT &kp MINUS>;
            label = "LEFT_ARROW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
            bindings = <
&layer3_ctrlV     &kp N1        &kp N2     &kp N3      &kp N4  &kp N5     &kp N6   &kp N7                       &kp N8            &kp N9             &kp N0          &layer4_ctrlShift
&alt_ctrlC        &kp Q         &kp W      &kp E       &kp R   &kp T      &kp Y    &kp U                        &kp I             &kp O              &kp P           &kp RIGHT_ALT
&kp ESCAPE        &kp A         &kp S      &kp D       &kp F   &kp G      &kp H    &kp J                        &kp K             &kp L              &kp SEMI        &kp BACKSPACE
&kp LEFT_CONTROL  &kp Z         &kp X      &kp C       &kp V   &kp B      &kp N    &kp M                        &kp COMMA         &kp DOT            &kp FSLH        &kp RCTRL
                  &kp LEFT_GUI  &kp LC(A)  &kp DELETE  &mo 1   &kp SPACE  &kp RET  &stk_Shift_mo2 2 LEFT_SHIFT  &kp LC(LG(LEFT))  &kp LC(LG(RIGHT))  &kp LEFT_SHIFT
            >;
        };

        numbers {
            display-name = "Lower Layer";
            bindings = <
&trans  &trans                  &trans          &trans          &trans        &trans           &trans     &kp SLASH     &kp ASTERISK  &kp PERCENT   &kp MINUS  &trans
&trans  &kp LA(LC(LEFT_SHIFT))  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &trans     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS   &trans
&trans  &trans                  &kp LEFT_ARROW  &kp DOWN        &kp UP_ARROW  &kp RIGHT        &trans     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans     &trans
&trans  &kp PRINTSCREEN         &kp HOME        &kp PAGE_DOWN   &kp PG_UP     &kp END          &kp COMMA  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans     &trans
        &trans                  &trans          &trans          &trans        &trans           &kp RET    &trans        &kp NUMBER_0  &kp DOT       &trans
            >;

            sensor-bindings =
                <&inc_dec_kp DOWN UP_ARROW>,
                <&inc_dec_kp RIGHT LEFT>;
        };

        characters {
            display-name = "Raise Layer";
            bindings = <
&trans  &trans           &trans       &trans       &trans      &trans       &trans          &trans         &trans            &trans         &trans        &trans
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH     &kp DOLLAR  &kp PERCENT  &kp CARET       &kp AMPERSAND  &kp ASTERISK      &kp GRAVE      &laughing     &trans
&trans  &not_equal       &leftarrow   &rightarrow  &yankinVim  &https_http  &kp MINUS       &kp EQUAL      &kp SINGLE_QUOTE  &kp BACKSLASH  &haizzz_huhu  &trans
&trans  &trans           &trans       &trans       &trans      &trans       &kp UNDERSCORE  &kp PLUS       &kp TILDE         &kp PIPE       &kp QUESTION  &kp LG(L)
        &trans           &trans       &trans       &trans      &trans       &trans          &trans         &trans            &trans         &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_NEXT C_PREVIOUS>,
                <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        Fn {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4   &kp F5   &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &trans  &trans  &trans  &kp F11  &kp F12  &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans  &trans  &trans  &trans   &trans   &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans  &trans  &trans  &trans   &trans   &trans  &trans  &trans  &trans  &trans   &trans
        &trans  &trans  &trans  &trans   &trans   &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>,
                <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        mouse {
            bindings = <
&trans  &bt BT_DISC 0  &bt BT_DISC 1   &bt BT_DISC 2   &bt BT_DISC 3    &bt BT_DISC 4    &bt BT_SEL 0     &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans
&trans  &mkp MCLK      &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP     &msc SCRL_RIGHT  &kp C_VOLUME_UP  &trans        &trans        &trans        &trans        &trans
&trans  &mkp MB5       &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &kp HOME         &kp C_VOL_DN     &mkp LCLK     &trans        &trans        &trans        &trans
&trans  &mkp MB4       &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp END          &kp K_MUTE       &trans        &trans        &trans        &trans        &bt BT_CLR_ALL
        &trans         &trans          &trans          &trans           &trans           &trans           &trans        &trans        &trans        &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
