#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "dactyl";

        // kscan = <&kscan0>;
        // transform = <&matrix_transform0>;

        studio-config {
        compatible = "zmk,studio-config";
        };

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   33       0     0     0>
            , <&key_physical_attrs 100 100  100   33       0     0     0>
            , <&key_physical_attrs 100 100  200    8       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   23       0     0     0>
            , <&key_physical_attrs 100 100  500   25       0     0     0>
            , <&key_physical_attrs 100 100  980   25       0     0     0>
            , <&key_physical_attrs 100 100 1080   23       0     0     0>
            , <&key_physical_attrs 100 100 1180    0       0     0     0>
            , <&key_physical_attrs 100 100 1280    8       0     0     0>
            , <&key_physical_attrs 100 100 1380   33       0     0     0>
            , <&key_physical_attrs 100 100 1480   33       0     0     0>
            , <&key_physical_attrs 100 100    0  133       0     0     0>
            , <&key_physical_attrs 100 100  100  133       0     0     0>
            , <&key_physical_attrs 100 100  200  108       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  123       0     0     0>
            , <&key_physical_attrs 100 100  500  125       0     0     0>
            , <&key_physical_attrs 100 100  980  125       0     0     0>
            , <&key_physical_attrs 100 100 1080  123       0     0     0>
            , <&key_physical_attrs 100 100 1180  100       0     0     0>
            , <&key_physical_attrs 100 100 1280  108       0     0     0>
            , <&key_physical_attrs 100 100 1380  133       0     0     0>
            , <&key_physical_attrs 100 100 1480  133       0     0     0>
            , <&key_physical_attrs 100 100    0  233       0     0     0>
            , <&key_physical_attrs 100 100  100  233       0     0     0>
            , <&key_physical_attrs 100 100  200  208       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  223       0     0     0>
            , <&key_physical_attrs 100 100  500  225       0     0     0>
            , <&key_physical_attrs 100 100  980  225       0     0     0>
            , <&key_physical_attrs 100 100 1080  223       0     0     0>
            , <&key_physical_attrs 100 100 1180  200       0     0     0>
            , <&key_physical_attrs 100 100 1280  208       0     0     0>
            , <&key_physical_attrs 100 100 1380  233       0     0     0>
            , <&key_physical_attrs 100 100 1480  233       0     0     0>
            , <&key_physical_attrs 100 100    0  333       0     0     0>
            , <&key_physical_attrs 100 100  100  333       0     0     0>
            , <&key_physical_attrs 100 100  200  308       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  323       0     0     0>
            , <&key_physical_attrs 100 100  500  325       0     0     0>
            , <&key_physical_attrs 100 100  980  325       0     0     0>
            , <&key_physical_attrs 100 100 1080  323       0     0     0>
            , <&key_physical_attrs 100 100 1180  300       0     0     0>
            , <&key_physical_attrs 100 100 1280  308       0     0     0>
            , <&key_physical_attrs 100 100 1380  333       0     0     0>
            , <&key_physical_attrs 100 100 1480  333       0     0     0>
            , <&key_physical_attrs 100 100  730  288    1500 (-50) (-30)>
            , <&key_physical_attrs 100 100  200  408       0     0     0>
            , <&key_physical_attrs 100 100  300  400       0     0     0>
            , <&key_physical_attrs 100 100  530  288    1500 (-50) (-30)>
            , <&key_physical_attrs 100 100  630  288    1500 (-50) (-30)>
            , <&key_physical_attrs 100 100  850  288 (-1500)  1630 (-30)>
            , <&key_physical_attrs 100 100  950  288 (-1500)  1630 (-30)>
            , <&key_physical_attrs 100 100 1180  400       0     0     0>
            , <&key_physical_attrs 100 100 1280  408       0     0     0>
            , <&key_physical_attrs 100 100  750  288 (-1500)  1630 (-30)>
            ;
    };
};