#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Totem";

        // kscan = <&kscan0>;
        // transform = <&matrix_transform0>;

        studio-config {
        compatible = "zmk,studio-config";
        };

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   81  169 (-1000)   131   219>
            , <&key_physical_attrs 100 100  211   64  (-400)   261   114>
            , <&key_physical_attrs 100 100  334    0       0     0     0>
            , <&key_physical_attrs 100 100  446   56       0     0     0>
            , <&key_physical_attrs 100 100  558   78       0     0     0>
            , <&key_physical_attrs 100 100 1012   78       0     0     0>
            , <&key_physical_attrs 100 100 1124   56       0     0     0>
            , <&key_physical_attrs 100 100 1235    0       0     0     0>
            , <&key_physical_attrs 100 100 1358   64     400  1408   114>
            , <&key_physical_attrs 100 100 1489  169    1000  1539   219>
            , <&key_physical_attrs 100 100  100  279 (-1000)   150   329>
            , <&key_physical_attrs 100 100  219  176  (-400)   269   226>
            , <&key_physical_attrs 100 100  334  112       0     0     0>
            , <&key_physical_attrs 100 100  446  168       0     0     0>
            , <&key_physical_attrs 100 100  558  190       0     0     0>
            , <&key_physical_attrs 100 100 1012  190       0     0     0>
            , <&key_physical_attrs 100 100 1124  168       0     0     0>
            , <&key_physical_attrs 100 100 1235  112       0     0     0>
            , <&key_physical_attrs 100 100 1351  176     400  1401   226>
            , <&key_physical_attrs 100 100 1469  279    1000  1519   329>
            , <&key_physical_attrs 100 100  120  389 (-1000)   170   439>
            , <&key_physical_attrs 100 100  227  287  (-400)   277   337>
            , <&key_physical_attrs 100 100  334  224       0     0     0>
            , <&key_physical_attrs 100 100  446  280       0     0     0>
            , <&key_physical_attrs 100 100  558  302       0     0     0>
            , <&key_physical_attrs 100 100 1012  302       0     0     0>
            , <&key_physical_attrs 100 100 1124  280       0     0     0>
            , <&key_physical_attrs 100 100 1235  224       0     0     0>
            , <&key_physical_attrs 100 100 1343  287     400  1393   337>
            , <&key_physical_attrs 100 100 1450  389    1000  1500   439>
            , <&key_physical_attrs 100 100    0  353 (-1000)    50   403>
            , <&key_physical_attrs 100 100  413  425       0     0     0>
            , <&key_physical_attrs 100 100  538  442    1500   588   492>
            , <&key_physical_attrs 100 100  654  490    3000   704   540>
            , <&key_physical_attrs 100 100  670  302       0     0     0>
            , <&key_physical_attrs 100 100  900  302       0     0     0>
            , <&key_physical_attrs 100 100  916  490 (-3000)   966   540>
            , <&key_physical_attrs 100 100 1032  442 (-1500)  1082   492>
            , <&key_physical_attrs 100 100 1157  425       0     0     0>
            , <&key_physical_attrs 100 100 1570  353    1000  1620   403>
            , <&key_physical_attrs 100 100  157  624       0     0     0>
            , <&key_physical_attrs 100 100  257  524       0     0     0>
            , <&key_physical_attrs 100 100  257  624       0     0     0>
            , <&key_physical_attrs 100 100  257  724       0     0     0>
            , <&key_physical_attrs 100 100  357  624       0     0     0>
            , <&key_physical_attrs 100 100 1213  624       0     0     0>
            , <&key_physical_attrs 100 100 1313  724       0     0     0>
            , <&key_physical_attrs 100 100 1313  624       0     0     0>
            , <&key_physical_attrs 100 100 1313  524       0     0     0>
            , <&key_physical_attrs 100 100 1413  624       0     0     0>
            ;
    };
};