#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Sweep";

        // kscan = <&kscan0>;
        // transform = <&matrix_transform0>;

        studio-config {
        compatible = "zmk,studio-config";
        };

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   96       0     0     0>
            , <&key_physical_attrs 100 100  100   32       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   24       0     0     0>
            , <&key_physical_attrs 100 100  400   38       0     0     0>
            , <&key_physical_attrs 100 100  800   38       0     0     0>
            , <&key_physical_attrs 100 100  900   24       0     0     0>
            , <&key_physical_attrs 100 100 1000    0       0     0     0>
            , <&key_physical_attrs 100 100 1100   32       0     0     0>
            , <&key_physical_attrs 100 100 1200   96       0     0     0>
            , <&key_physical_attrs 100 100    0  196       0     0     0>
            , <&key_physical_attrs 100 100  100  133       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  124       0     0     0>
            , <&key_physical_attrs 100 100  400  138       0     0     0>
            , <&key_physical_attrs 100 100  800  138       0     0     0>
            , <&key_physical_attrs 100 100  900  124       0     0     0>
            , <&key_physical_attrs 100 100 1000  100       0     0     0>
            , <&key_physical_attrs 100 100 1100  133       0     0     0>
            , <&key_physical_attrs 100 100 1200  196       0     0     0>
            , <&key_physical_attrs 100 100    0  296       0     0     0>
            , <&key_physical_attrs 100 100  100  233       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  224       0     0     0>
            , <&key_physical_attrs 100 100  400  238       0     0     0>
            , <&key_physical_attrs 100 100  800  238       0     0     0>
            , <&key_physical_attrs 100 100  900  224       0     0     0>
            , <&key_physical_attrs 100 100 1000  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  233       0     0     0>
            , <&key_physical_attrs 100 100 1200  296       0     0     0>
            , <&key_physical_attrs 100 100  500  238       0     0     0>
            , <&key_physical_attrs 100 100  349  344    1500   399   394>
            , <&key_physical_attrs 100 100  452  388    3000   502   438>
            , <&key_physical_attrs 100 100  748  388 (-3000)   798   438>
            , <&key_physical_attrs 100 100  851  344 (-1500)   901   394>
            , <&key_physical_attrs 100 100  700  238       0     0     0>
            , <&key_physical_attrs 100 100   65  460       0     0     0>
            , <&key_physical_attrs 100 100  165  360       0     0     0>
            , <&key_physical_attrs 100 100  165  460       0     0     0>
            , <&key_physical_attrs 100 100  165  560       0     0     0>
            , <&key_physical_attrs 100 100  265  460       0     0     0>
            , <&key_physical_attrs 100 100  935  460       0     0     0>
            , <&key_physical_attrs 100 100 1035  560       0     0     0>
            , <&key_physical_attrs 100 100 1035  460       0     0     0>
            , <&key_physical_attrs 100 100 1035  360       0     0     0>
            , <&key_physical_attrs 100 100 1135  460       0     0     0>
            ;
            };
};